@import 'fonts';
@import 'utils';
@import 'bootstrap-overrides';
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Fira Sans';
  background-repeat: repeat-vertical;
  background-position: center center;
  background-image: url(../images/img_bg.png);
  background-size: auto;
}

.profile-item-link {
  position: relative;
  left: 1em;
}

kbd,
code {
  font-family: 'Fira Code' !important;
  font-variant-ligatures: normal;
}

.no-ligatures {
  font-variant-ligatures: none !important;
}

.nav-subtitle {
  color: #aaaaaa;
}

.nav-item {
  padding-right: 4px;
}

.icon-idpanel {
  position: relative;
  top: 6px;
}

.sidebar-sticky {
  position: relative;
  top: 3.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 30px;
  /* Scrollable contents if viewport is shorter than content. */
}

.mainpanel {
  font-size: 18px;
}

.gender-subhead {
  color: #ffcc00;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

@include media-breakpoint-up(md) {
  .sidebar-sticky {
    max-width: 250px;
  }
}

@include media-breakpoint-down(sm) {
  .sidebar {
    padding-left: 0 !important;
    padding-right: 0 !important;
    top: -1rem;
  }

  .mainpanel {
    position: relative;
    top: -1.5rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
  }
}

blockquote {
  padding-left: 2em;
  color: #aaaaaa;
}
