@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

p,
code {
  font-size: 20px;
}

a {
  text-decoration: underline;
}

div#bg {
  background: linear-gradient(90deg, #536976, #292e49);
}

div#bg-inner {
  background-image: url('images/bg.jpg');
}
