@import url('tailwindcss');

h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

p,
code {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

body {
  background-image: url('@/assets/bg-1.jpg');
  background-size: cover;
  min-height: 100vh;
}
